body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus {
  outline: none;
  border-radius: 4px;
  background-color: burlywood;
  font-weight: bold;
}

.folder {
  cursor: pointer;
  padding-left: 7px;
}
